<div class="card">
  <div class="card-header"><h4 class="text-center">Regist new Teacher</h4></div>
  <div class="card-body"><div class="mx-auto text-center" style="width: 600px">
    <%=form_for :teacher ,url: {action: :create, controller: :teacher} do |f|%>
      <div class="form-group">
        <%=f.label :DepartmentName, "Department Name: " %>
        <%=f.text_field :DepartmentName, class:"form-control" %>
      </div>
      <div class="form-group">
        <%=f.label :TeacherCard, "Your teacher card: " %>
        <%=f.text_field :TeacherCard, class:"form-control" %>
      </div>
      <div class="form-group">
        <%=f.submit 'submit', class:"btn btn-primary" %>
      </div>
    <%end %>
  </div></div>
</div>

