<%=stylesheet_link_tag "vocabualary" %>
<div class="container custom-breadcrumns border-bottom">
  <%= link_to "Home", students_path %>
  <span class="mx-3"><svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg></span>
  <%= link_to "unit",units_path_url(:id => @unitId) %>
  <span class="mx-3"><svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg></span>
  <%= link_to "Vocabualary" , {action: :index, controller: :vocabualary}, :id => @id %>
</div>
<div class="container">
  <h3>New Words</h3>
  <div style="margin-top: 30px">
    <table class="table">
      <tr>
      <th>Words</th>
      <th>audio</th>
      </tr>

  <% @words.each do |w| %>
        <tr>
          <td><%= w.Name%></td>
          <td><audio src="<%= audio_path w.audio.Path %>" type="audio/mpeg" controls>
            Your browser doesnt support the audio element
          </audio></td>
        </tr>
  <%end %>
    </table>
    <%=link_to "Do exercise", {action: 'index', controller: 'parts'} , id: @id %>
  </div>
</div>