<nav class="navbar ntu-bg-color navbar-light navbar-expand-lg">
  <a class="navbar-brand" href="#">NTU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

        <% if !@current_user.nil? %>
        <% if @current_user.TypeUser == 2 %>

          <%= link_to "Home", students_path, class: "nav-link" %>
          <%else %>
          <%= link_to "Home", teacher_index_path, class: "nav-link" %>
        <% end %>

          <%end %>
      </li>
      <li class="nav-item">
        <%=link_to 'Video', video_index_path, class: 'nav-link' %>

      </li>

    </ul>

    <% if session[:userID].present? %>
      <div class="">Welcome, <%=link_to @current_user.Name, {action: :index,controller: :users, id:@current_user.UserID} %></div>
      <div class="m-4 my-lg-0"><%= link_to logout_path, method: :delete do %>
          <svg class="bi bi-unlock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
            <path fill-rule="evenodd" d="M8.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
          </svg>
          Log out
        <% end %>
        </a>
      </div>
    <% else %>
      <div class="m-4 my-lg-0"><%= link_to login_path do %>
          <svg class="bi bi-unlock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
            <path fill-rule="evenodd" d="M8.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
          </svg>
          Log in
        <% end %>
      </div>
    <% end %>
    <%= form_with url: {action: :search, controller: :video}, class: 'form-inline' do |f|  %>

    <%= f.text_field :key, class: 'form-control mr-sm-2', placeholder: 'Search video' %>
      <%=f.submit 'Search', class: 'btn btn-outline-success my-2 my-sm-0' %>
    <%end %>

<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
  </div>
</nav>
